.Container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.InputForm {
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
  width: 100%;
  margin-bottom: 10px;
}

.PhoneList {
  display: flex;
  flex-direction: column;

  width: 400px;
}

.PhoneList_item {
  margin-left: 10px;
}

.PhoneList_list {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
